@use '../utilities/variables';
@use '../utilities/mixins';

.auc-logo {
    @include mixins.flex (null, center)
}

.auc-subheadings {
    text-align: center;
}

.auc-text {
    text-align: justify;
    margin-bottom: 25px;
}

.auc-text-last-paragraph {
    margin-bottom: 50px;
}

.auc-visuals {
    @include mixins.grid (1fr, repeat(2, 1fr));
    grid-template-areas:
        "image"
        "map";
    gap: 0px;
    border: variables.$border;
    margin-bottom: 15px;

    .auc-picture {
        grid-area: image;
        height: 100%;

        img {
            width: 100%;
            display: block;
        }
    }

    .auc-map {
        grid-area: map;
        height: 100%;

        iframe {
            width: 100%;
            height: 100%;
            display: block;
        }
    }
}

.auc-form-container {
    @include mixins.flex (null, center);

    .auc-form {
        @include mixins.flex (column);
        border: variables.$border;
        padding: 24px;
        width: 100%;
        align-content: center;

        label {
            color: variables.$text-color;
            text-align: left;
            margin-bottom: 8px;
        }

        input {
            margin-bottom: 24px;
        }

        textarea {
            margin-bottom: 24px;
        }

        .btn {
            padding: 6px 0;
        }
    }
}

@media (min-width: 992px) {
    .auc-visuals {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: "image map";
    }

    .auc-form-container {
        width: 100%;

        .auc-form {
            width: 25%;
        }
    }
}