@use '../utilities/variables';
@use '../utilities/mixins';

.updates {
    article {
        h3 {
            margin-bottom: 0px;
            font-size: variables.$mobile-updates-headings;
        }

        .updates-images-grid {
            @include mixins.grid (repeat(2, 1fr), repeat(2, 1fr));
            gap: 0;
            grid-template-areas:
                "top-left top-right"
                "bottom-left bottom-right";
            margin-bottom: 50px;
            border: variables.$border;

            figure {
                img {
                    width: 100%;
                    display: block;
                }
            }

            .updates-images-top-left {
                grid-area: top-left;
            }

            .updates-images-top-right {
                grid-area: top-right;
            }

            .updates-images-bottom-left {
                grid-area: bottom-left;
            }

            .updates-images-bottom-right {
                grid-area: bottom-right;
            }
        }
        
        .updates-gta-image-container {
        margin-bottom: 50px;

            .updates-gta-image {
                width: 100%;
                border: variables.$border;
            }
        }
    }
}

// Media query: tablet
@media (min-width: 768px) {
    .updates {
        h3 {
            text-align: center;
        }
    }
}

// Media queries: desktop
@media (min-width: 992px) {
    .updates {
        article {
            h3 {
                font-size: variables.$desktop-subheadings-size;
                text-align: center;
            }

            .updates-images-grid {
                margin-bottom: 50px;
            }
        }
    }
}