@mixin flex ($direction, $justify: null, $align: null) {
    display: flex;
    flex-direction: $direction;

    @if $justify != null {
        justify-content: $justify;
    }
    
    @if $align != null {
        align-items: $align;
    }
}

@mixin grid ($columns, $rows) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}