// Paleta de colores
$bg-color: #000000;
$accent-color: #8C0510;
$text-color: #FFFFFF;

// Tipografía: mobile y tablet
$main-font: "Nunito", sans-serif;
$arial: Arial, sans-serif;
$mobile-headings-size: 24px;
$mobile-subheadings-size: 16px;
$mobile-final-text: 14px;
$mobile-news-headings-size: 14px;
$mobile-updates-headings: 14px;

// Tipografía: desktop
$desktop-headings-size: 2em;
$desktop-subheadings-size: 1.17em;
$desktop-text-size: 1em;
$desktop-final-text: 1.17em;
$desktop-news-text: 14px;

// Bordes
$border: 1px solid #8C0510;

