/* Fuente Nunito */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
/* font-family: "Nunito", sans-serif; */

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: #000000;
    font-family: "Nunito", sans-serif;
    margin: 10px 10px 0;
}

main {
    margin: 13px 0;
}

ul {
    list-style-type: none;
}

h1 {
    color: #FFFFFF;
    margin-bottom: 20px;
}

h3 {
    color: #FFFFFF;
    margin-bottom: 15px;
}

p {
    color: #FFFFFF;
}

.footerCopyright {
    color: #8C0510;
}

.footerLabel {
    color: #FFFFFF;
}

input[placeholder]{
    font-family: Arial, sans-serif;
}

textarea[placeholder] {
    font-family: Arial, sans-serif;
}

a {
    background-color: #8C0510;
    color: #FFFFFF;
    text-decoration: none;
}

.currentPage {
    color:#000000;
}

.landingText {
    text-align: justify;
}

.finalText {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 0px;
}

.newsLeftDates {
    text-align: left;
}

.newsRightTitles {
    text-align: right;
}

.newsRightText {
    display: flex;
    align-items: center;
    text-align: right;
    grid-area: text;
}

.newsLeftTitles {
    text-align: left;
}

.newsRightDates {
    text-align: right;
}

.newsLeftText {
    display: flex;
    align-items: center;
    text-align: left;
    grid-area: text;
}

.aucSubheadings {
    text-align: center;
}

.aucText {
    text-align: justify;
    margin-bottom: 50px;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #8C0510;
}

.headerLogo {
    width: 100px;
}

nav ul {
    display: flex;
    flex-direction: row;
    gap: 13px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-top: 1px solid #8C0510;
    margin-top: 13px;
}

.landingHeroImage {
    width: 100%;
}

.catalogue {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap: 50px 0px;
    justify-items: center;
}

.catalogue article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.catalogueCarsFront img {
    width: 333px;
    height: 249.75px;
}

.catalogueCarsRear img {
    width: 56px;
    height: 249.75px;
}

.catalogueCarsImages figure img {
    border-radius: 32px;
}

.catalogueCarsImages {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

/* News */
.newsHeadings {
    display: flex;
    justify-content: space-between;
}

.newsHeadings h3 {
    margin-bottom: 0;
}

.newsContentLeft {
    border: 1px solid #8C0510;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "image text";
    gap: 0px;
}

.newsPictures img {
    width: 100%;
    grid-area: image;
}

.newsContentRight {
    border: 1px solid #8C0510;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 
        "text image";
    gap: 0px;
}

/* Updates */
.updates article h3 {
    margin-bottom: 0px;
    text-align: center;
}

.updatesImagesGrid figure img {
    width: 100%;
}

.updatesGTAImage img {
    width: 100%;
    border: 1px solid #8C0510;
}

.updatesImagesGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0px;
    grid-template-areas:
        "topLeft topRight"
        "bottomLeft bottomRight";
    margin-bottom: 50px;
    border: 1px solid #8C0510;
}

.updatesTopLeftImages {
    grid-area: topLeft;
}

.updatesTopRightImages {
    grid-area: topRight;
}

.updatesBottomLeftImages {
    grid-area: bottomLeft;
}

.updatesBottomRightImages {
    grid-area: bottomRight;
}

/* About us & contact */
.aucLogo {
    display: flex;
    justify-content: center;
}

.aucVisuals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "image map";
    gap: 0px;
    border: 1px solid #8C0510;
    margin-bottom: 15px;
}

.aucPicture {
    grid-area: image;
    height: 100%;
}

.aucPicture img {
    width: 100%;
    display: block;
}

.aucMap {
    grid-area: map;
    height: 100%;
}

.aucMap iframe {
    width: 100%;
    height: 100%;
    display: block;
}

.aucFormContainer {
    display: flex;
    justify-content: center;
}

.aucForm {
    display: flex;
    border: 1px solid #8C0510;
    padding: 24px;
    flex-direction: column;
    width: 25%;
    align-content: center;
}

.aucForm label {
    margin-bottom: 8px;
}

.aucForm input {
    margin-bottom: 24px;
}

.aucForm textarea {
    margin-bottom: 24px;
}

.submitButton {
    background-color: #8C0510;
    color: #FFFFFF;
}